rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /profilePictures/{imageId} {
      // Anyone can read profile pictures
      allow read: if true;
      // Only the authenticated user can upload their own picture
      allow write: if request.auth != null && imageId.matches(request.auth.uid + '-.*');
    }
  }
}
